@font-face {
    font-family: opensans;
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: opensans;
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: bold;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* Стили модального окна */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #1E3685; }

.modalDialog-header {
    font-family: opensans;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}

.modalDialog-txt {
    font-family: opensans;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.modalDialog-input {
    width: 100%;
    font-family: opensans;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
}

.modalDialog-button-form {
    width: 100%;
    max-height: 40px;
    padding: 10px;
    font-family: opensans;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #1E3685;
    outline: none;
    border: none;
}

.modalDialog-button-form:hover {
    color: #1E3685;
    background-color: #fff;
    outline: 2px solid #1E3685;
}

.modalDialog-button-form:active {
    color: #fff;
    background-color: #1E3685;
}

.header-modal {
    max-width: 200px;
    max-height: 40px;
    color: #fff;
    font-family: opensans;
    font-weight: 300;
    font-size: 20px;
    background-color: #1E3685;
    outline: none;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    align-self: center;
    text-align: center;
    padding: 10px;
}

.header-modal:hover {
    background-color: #fff;
    color: #1E3685;
    outline: 2px solid #1E3685;
}

.header-modal:active {
    background-color: #1E3685;
    color: #fff;
    border: none;
}
/* Стили модального окна - КОНЕЦ */

header {
    font-family: opensans;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-top {
    width: 100%;
    background-color: #1E3685;
    color: #fff;
    align-self: center;
    padding: 10px 0 10px 30px;
}

.header-logo img {
    max-width: 100px;
}

.header-logo {
    display: flex;
    padding: 10px 0 10px 30px;
    justify-content: start;
}

.header-logo-item1 {
    font-family: opensans;
    font-weight: 700;
    font-size: 22px;
    margin-left: 10px;
    align-self: center;
    text-align: center;
}

.header-phone {

    padding: 0 30px 0 0;
    align-self: center;
}

.header-phone-item1 {
    color: #1E3685;
    font-family: opensans;
    font-weight: 700;
    text-align: center;
}

.header-phone-item2 {
    color: #1E3685;
    font-family: opensans;
    font-weight: 700;
    text-decoration: none;
    align-self: center;
}

.header-phone-item2 a {
    color: #1E3685;
    font-family: opensans;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
}

.header-phone-item3 {
    color: #1E3685;
    text-align: center;
}

.header-btn {
    align-self: center;
    padding: 10px 30px 10px 0;
}

.questions {

    padding: 30px 30px 30px 30px;
}

.questions-head {
    font-family: opensans;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #2a2a2a;
    padding: 20px 0 20px 0;
}

.questions-preview {
    font-family: opensans;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #2a2a2a;
    padding-bottom: 50px;
}

.questions-steps {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.questions-step {
    width: 20%;
    margin: 0 auto;
    border-bottom: 1px solid #6c757d52;
    font-family: opensans;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.forma {
    background-color: #ededee;
    margin: 0 auto;
    text-align: center;
    padding: 30px 30px 50px 30px;
}

.forma1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 30px 50px 30px;
}

.forma-header {
    font-family: opensans;
    font-weight: 700;
    font-size: 26px;
    color: #2a2a2a;
    padding: 20px 0 20px 0;
}

.forma-txt {
    font-family: opensans;
    font-weight: 300;
    font-size: 20px;
    color: #2a2a2a;
    padding-bottom: 50px;
}

.queryForm {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#form-name {
    width: 40%;
    font-family: opensans;
    font-weight: 300;
    font-size: 20px;
    outline: none;
    border: none;
    border: 1px solid #1E3685;
}

#form-name:hover {
    box-shadow: 0px 9px 8px -7px #1E3685;
}

#form-phone {
    width: 40%;
    font-family: opensans;
    font-weight: 300;
    font-size: 20px;
    outline: none;
    border: none;
    border: 1px solid #1E3685;
}
#form-phone:hover {
    box-shadow: 0px 9px 8px -7px #1E3685;
}

#form-comment {
    width: 100%;
    min-height: 100px;
    margin: 20px 0 20px 0;
    font-family: opensans;
    font-weight: 300;
    font-size: 20px;
    outline: none;
    border: none;
    border: 1px solid #1E3685;
}

#form-comment:hover {
    box-shadow: 0px 9px 8px -7px #1E3685;
}

.button-form {
    margin: 0 auto;
    width: 40%;
    height: 50px;
    font-family: opensans;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    background-color: #1E3685;
    border: none;
    outline: none;
}

.button-form:hover {
    color: #1E3685;
    background-color: #fff;
    border: 2px solid #1E3685;
}

.button-form:active {
    color: #fff;
    background-color: #1E3685;
}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ededee;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    text-align: center;
}

.about-item {
    width: 45%;
    padding-top: 40px;
}

.about-item-head {
    font-family: opensans;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    padding-bottom: 20px;
}

li {
    width: 70%;
    font-family: opensans;
    font-weight: 300;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}

.steps {
    padding: 30px 30px 30px 30px;
}

.steps-head {
    font-family: opensans;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #2a2a2a;
    padding: 20px 0 50px 0;
}

.steps-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.steps-item {
    width: 30%;
    border: 1px solid #6c757d52;
    padding: 10px;
    background-color: #ededee;
}

.steps-item-num {
    font-family: opensans;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    color:#1E3685;
}

.steps-item-head {
    font-family: opensans;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #2a2a2a; 
}

.steps-item-info {
    font-family: opensans;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #2a2a2a;
}

footer {
    background-color: #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    padding: 10px 0 10px 30px;
}

.footer-logo img {
    max-width: 100px;
    padding-bottom: 10px;
}

.footer-logo-item1 {
    font-family: opensans;
    font-weight: 700;
    font-size: 22px;
    margin-left: 10px;
    align-self: center;  
}

.footer-phone {
    width: 40%;
    text-align: end;
    padding: 0 30px 0 0;
    align-self: center; 
}

.footer-phone-item1 {
    color: #1E3685;
    font-family: opensans;
    font-weight: 700;
    align-self: center;
}

.footer-phone-item2 {
    color: #1E3685;
    font-family: opensans;
    font-weight: 700;
    text-decoration: none;
}

.footer-phone-item2 a {
    color: #1E3685;
    font-family: opensans;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
}

/* Стили для мобильной версии */
@media (max-width:976px) {
    .header-logo {
        width: 100%;
        max-height: 90px;
    }
    .header-logo img {
        max-height: 90px;
    }
    .header-logo-item1 {
        font-size: 18px;
    }
    .header-phone {
        width: 100%;
        padding: 0 10px 0 10px;
        text-align: center;
    }
    .header-btn {
        display: none;
    }
    /* .forma {
        width: 100%;
    } */
    .questions-step {
        width: 100%;
    }
    .queryForm {
        width: 100%;
        padding: 0 10px 0 0;
    }
    .button-form {
        width: 80%;
    }
    .about {
        padding: 30px 10px 30px 10px;
    }
    .about-item {
        width: 100%;
        padding-top: 40px;
    }
    .about-item img {
        width: 100%;
    }
    li {
        width: 100%;
    }
    .steps-item {
        width: 100%;
        margin-bottom: 10px;
    }
    #form-phone {
        width: 100%;
    }
    #form-name {
        width: 100%;
        margin-bottom: 20px;
    }
    footer {
        padding: 10px 0px;
    }
    .footer-logo {
        width: 100%;
        max-height: 90px;
        padding: 10px 0 10px 20px;
    }
    .footer-logo img {
        max-height: 90px;
    }
    .footer-logo-item1 {
        font-size: 18px;
    }
    .footer-phone {
        width: 100%;
        padding: 0 10px 0 10px;
        text-align: center;
    }
}